/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: "Rethink Sans", sans-serif;
  font-optical-sizing: auto;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, svg {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Typography */

a:visited {
  color: inherit;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 30px;
	color: #222;
	font-weight:700;
}

h2 {
	font-size: 20px;
	font-weight: 700;
	color: #222;
}

h3 {
	font-size: 15px;
	font-weight: 400;
	font-size: small;
	color: #444;
}

h4 {
	font-size: 17px;
	font-weight: 600;
	color: #222;
}

p {
	font-size: 16px;
	line-height: 1.1;
	font-weight: 400;
	color: #222;
}

.two-column ul, .three-column ul {
	list-style-type: disc;
	padding-left: 20px;
	margin-top: 10px;
	text-indent: 5px;
	line-height: 2;
}

/* Global properties */

img {
  max-width: 100%;
  height: auto;
}

.clickable-div {
  cursor: pointer; /* Change cursor to indicate it's clickable */
}

.clickable-div:hover h2 {
		text-decoration: underline;
	}

.clickable-div:hover .underline-on-hover {
  text-decoration: underline;
}

.clickable-div:hover img {
	opacity: 0.8;
}

/* Layouts */

.three-column {
  display: flex;
	justify-content: space-between;
	gap: 10px;
}

.column {
  flex: 1;
  display: flex;
}

.content-item {
  width: fit-content;
  padding: 5px;
	align-content: center;
}

	.two-column {
  display: flex;
	justify-content: space-between;
	gap: 10px;
}

.two-column .column {
  flex: 1;
  display: flex;
}

.two-column .left-column {
  flex: 1;
}

.two-column .right-column {
  flex: 1;
}

/* Website header */

.header-section {
	padding: 10px;
	align-items: center;
}

.header-section .left-column {
	justify-content: flex-start;
}

.header-section .right-column {
	justify-content: flex-end;
	flex-direction: row;
}

.header-section .middle-column {
  display: flex;
  align-items: center;
  justify-content: center;
}

a .logo {
  display: flex;
  align-items: center;
	justify-content: center;
}

.header-section .menu-icon {
  max-height: 25px;
	margin-right: 10px;
}

.header-section .search-icon {
  max-height: 20px;
}

/* Register and signin buttons */

.register-button {
	min-width: max-content;
  background-color: black;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.register-button:hover {
  opacity: 0.8;
}

.register-button a {
  color: white;
  text-decoration: none;
	font-size: 16px;
	font-weight: 700;
}

.signin-button {
	min-width: max-content;
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 10px 15px;
}

.signin-button:hover {
	background-color:#444;
}

.signin-button a {
	color: black;
	text-decoration: none;
	font-size: 16px;
	font-weight: 700;
}

.signin-button:hover a {
	color: white;
}

/* Horizontal lines */

.line {
  width: 100%;
  height: 1px;
  background-color: lightgray;
	margin: 5px 0;
}

.bold-line {
  width: 100%;
  height: 2px;
  background-color: #222;
	margin: 10px 0;
}

/* Padding block */

.padding-block-20 {
	padding: 20px 0;
}

/* Main navigation */

.main-nav {
	display: flex;
	justify-content: center;
	padding: 10px 0;
}

.main-nav ul {
	display: flex;
	list-style-type: none;
}

.main-nav a {
	color: #444;
	text-decoration: none;
	padding: 10px 7px;
	font-size: 15px;
	font-weight: 700;
	
}

.main-nav a:hover {
	background-color: lightgray;
	border: solid lightgray;
	border-width: 3px 0 3px 0;
}

.main-nav a.active {
	border-bottom: 3px solid black;
	color: black;
	font-weight: bold;
}

/* Main content */

.headline-container {
	padding: 25px 25px;
}

.headline-container .column {
	align-items: flex-start;
}

.headline-container .left-column {
  flex: 1;
	flex-direction: column;
}

.headline-container .middle-column {
  flex: 2;
	flex-direction: column;
}

.headline-container .right-column {
  flex: 1;
	flex-direction: column;
}

.content-item.headline h2, p, .headline-footer {
	padding-top: 5px;
	padding-bottom: 10px;
}

.content-item.headline h1 {
	padding-top: 15px;
	padding-bottom: 10px;
}

/* Live text and flashing dot */

.live-text {
	font-weight: 700;
	color: red;
}

.flashing-dot-container {
	display: inline-block;
	position: relative;
	width: 14px;
	height: 14px;
	margin-right: 5px;
	margin-bottom: 7px;
	margin-left: 5px;
	vertical-align: middle;
}

.flashing-dot {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: red;
	border-radius: 50%;
	animation: flash 1.5s infinite;
}

.flashing-dot-border {
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border: 2px solid red;
  border-radius: 50%;
}

@keyframes flash {
	0% { opacity: 1; }
	50% { opacity: 0.25; }
	100% { opacity: 1; }
}